.UEFA{
    width: 500px;
    height: 300px;
}

.intro{
    width: 80%;
    height: 92vh;
    float: right;
    background-color: gold
}

.menu{
    width: 20%;
    height: 92vh;
    float: left;
    background-color: rgb(216, 77, 77);
    color: black;
}
.pie{
 mar
}
